.Dashboard {
  position: fixed;
  width: 70vw;
  height: 80vh;
  left: 15vw;
  top: 10vh;
  background-color: #6668d0;
  color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  display: grid;
}

.Dashboard .Profile-button {
  position: fixed;
  right: 20px;
  top: 20px;
}

.Dashboard .menu {
  grid-column: 1 / 13;
}

.Dashboard button {
  position: relative;
  font-size: 20px;
  padding: 20px;
  background-color: #303f9f;
  top: -35px;
  color: white;
  border: none;
  text-transform: uppercase;
}

.Dashboard .menu button.active {
  background-color: rgb(0, 24, 111);
}

.Dashboard .menu button.proposer {
  width: 50%;
}

.Dashboard .menu button.lister {
  width: 50%;
}

.Dashboard .trajet {
  grid-column: 1 / 13;
  padding-top: 20px;
}

.Dashboard .trajet div {
  margin: 10px;
}

.Dashboard .trajet button {
  float: right;
  margin-right: 50px;
}

.Dashboard .proposer {
  grid-column: 2 / 12;
  grid-row: 2 / 13;
}